.btn {
  padding: 0.6rem;
  border-radius: 0.25rem;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn-mobile {
  margin: 0 1rem;
}

.btn--primary {
  background-color: #edaee4;
  color: #000;
  box-shadow: 0 0 1rem #eb52d5;
}

.btn--outline {
  background-color: transparent;
  color: #99fff5;
  padding: 0.6rem 1.8rem;
  border: 2px solid #99fff5;
  transition: all 0.3s ease-out;
}

.btn--medium {
  padding: 0.6rem;
}

.btn--large {
  padding: 1rem 2rem;
}

.btn--medium:hover,
.btn--large:hover {
  background: white;
  border: 2px solid #99fff5;
  color: #1b1e23;
  transition: all 0.3s ease-out;
}

.active-year {
  background: white;
}
