.cards-item {
  background-color: #1b1e23;
  opacity: 0.9;
  display: flex;
  flex: 1;
  margin: 1rem;
  border-radius: 10px;
}

.cards-item-link {
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid #99fff5;
  box-shadow: 0 5px 30px #99fff580;
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}
