.footer {
  background-color: #1b1e23;
  width: 100%;
  height: 40vh;
  /* padding: 3rem; */
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .footer h5 {
  font-size: large;
  margin: 5px;
} */

.text-footer {
  padding: 3rem;
  margin-right: 20vw;
  text-align: justify;
}

.text-footer h2 {
  margin-bottom: 2rem;
}

/* .signup-footer {
  padding: 3rem;
} */

.signup-footer img {
  max-width: 20vw;
  display: none;
}

.bottom-footer {
  background-color: black;
  position: absolute;
  padding: 0.8rem;
  width: 100%;
  bottom: 0;
}

.bottom-footer p {
  font-family: 'Audiowide', sans-serif;
  font-size: 1.2rem;
  color: #244584;
}

@media only screen and (max-width: 768px) {

  .footer {
    flex-direction: column;
    text-align: center;
  }

  .text-footer {
    margin-right: 0;
  }

  .text-footer h2 {
    text-align: center;
  }

  .text-footer p {
    text-align: center;
  }

  .bottom-footer p {
    font-size: 1rem;
  }
}
