#root {
  /* ============================== Not really sure if this is the best way.. But will do for now */
  --black-synth:    #1b1e23;
  --white-synth:    #f6eddb;
  --peach-synth:    #ec8d75;
  --coral-synth:    #bd4b64;
  --fuchsia-synth:  #9e2281;
  --indigo-synth:   #40265c;
  --navy-synth:     #244584;
  --blue-synth:     #50a9cf;
  --aqua-synth:     #96e6c2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Tilt Neon', sans-serif;
}
