:root {
  /* ============================== Not really sure if this is the best way.. But will do for now */
  --black-synth: #1b1e23;
  --white-synth: #f6eddb;
  --peach-synth: #ec8d75;
  --coral-synth: #bd4b64;
  --fuchsia-synth: #9e2281;
  --indigo-synth: #40265c;
  --navy-synth: #244584;
  --blue-synth: #50a9cf;
  --aqua-synth: #96e6c2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Tilt Neon', sans-serif;
}

html,
body {
  animation-name: bg-gradient-anim;
  animation-duration: 1ms;
  animation-direction: alternate;
  animation-timeline: view(y);
}

body {
  overflow-x: hidden;
}

video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 0;
  opacity: 0.5;
}

section {
  display: flex;
  position: relative;
  justify-content: center;
  height: 100vh;
  scroll-margin-top: 80px;
  text-align: center;
}

@keyframes bg-gradient-anim {
  0% {
    background-color: #9e2281;
  }
  50% {
    background-color: #77229e;
  }
  100% {
    background-color: #3d229e;
  }
}

#card-hero img {
  max-width: 199px;
  image-rendering: pixelated;
}
