@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #f2f2f2;
  font-family: 'Syne', sans-serif;
}

html,
body {
  animation-name: bg-gradient-anim;
  animation-duration: 1ms;
  animation-direction: alternate;
  animation-timeline: view(y);
  font-size: 12px;
}

h1 {
  font-family: 'Audiowide', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
}

h2 {
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 2.5rem;
}

p {
  font-family: 'Fira Code', monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  overflow-x: hidden;
}

video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 0;
  opacity: 0.5;
}

section {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100vh;
  scroll-margin-top: 6rem;
  text-align: center;
}

#section-three {
  display: inherit;
  flex-direction: column;
}

.portrait-row {
  /* max-height: 20vh; */
  display: flex;
  justify-content: center;
}

@keyframes bg-gradient-anim {
  0% {
    background-color: #1e48b8;
  }

  100% {
    background-color: #40265c;
  }
}

@media only screen and (max-width: 768px) {
  body, html {
    font-size: 10px;
    width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
  }
}